parameters:
    level: 10
    checkUninitializedProperties: true
    paths:
        - src
    ignoreErrors:
        -
            identifier: propertyTag.unresolvableType
            path: src/Interfaces/*
